temp/
output/
releases/
snapshots/
secure/*.*
resources/
target
bin
application*.properties*
resources/application-*.properties*
.*
*.iml
*.sh
!reporting-engine-worker/scripts/*.sh
*.csv
*.pem
*.zip
*.zip_*
*.old
dependency-reduced-pom.xml
